@* @model SV22T1020104.Admin.Controllers.CustomerController.Customer

@{
    ViewData["Title"] = "Bổ sung khách hàng";
}

<div class="card card-success card-outline">
    <div class="card-header">
        <h3 class="card-title">Thêm khách hàng mới</h3>
    </div>

    <form asp-action="Create" method="post">
        <div class="card-body">

            <div class="mb-3">
                <label class="form-label fw-bold">Tên khách hàng</label>
                <input asp-for="CustomerName" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Người liên hệ</label>
                <input asp-for="ContactName" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Tỉnh/Thành</label>
                <input asp-for="Province" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Điện thoại</label>
                <input asp-for="Phone" class="form-control" />
            </div>

        </div>

        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            <button type="submit" class="btn btn-success">Lưu dữ liệu</button>
        </div>
    </form>
</div> *@
