@* @model SV22T1020104.Admin.Controllers.EmployeeController.Employee
@{
    ViewData["Title"] = "Thêm nhân viên";
}

<div class="card card-success card-outline">
    <div class="card-header"><h3 class="card-title">Thêm nhân viên</h3></div>

    <form asp-action="Create" method="post">
        <div class="card-body">
            <div class="mb-3">
                <label>Họ tên</label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Điện thoại</label>
                <input asp-for="Phone" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Quyền</label>
                <select asp-for="Role" class="form-control">
                    <option>Admin</option>
                    <option>Staff</option>
                    <option>Shipper</option>
                </select>
            </div>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
            <button class="btn btn-success"><i class="bi bi-save"></i> Lưu</button>
        </div>
    </form>
</div> *@
